<%- include('./layout/main'); -%>


  <%- include('./layout/header'); -%>

  <!-- banner -->

  <!-- <div
    class="hero-wrap"
    style="background-image: url('images/banner1.jpg')"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-8 ftco-animate d-flex align-items-end">
          <div class="text w-100 text-center">
            <h1 class="mb-4">
              Good <span>Vegitables</span> for Good <span>Moments</span>.
            </h1>
            <p> 
              <a href="#" class="btn btn-white btn-outline-white py-2 px-4">Shop now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>  -->

 

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="user/images/banner1.jpg" class="d-block w-100 hero-wrap" > 
      </div>
      <div class="carousel-item " >
        <img src="user/images/banner2.jpg" class="d-block w-100 hero-wrap" >
      </div>
      <div class="carousel-item">
        <img src="user/images/banner3.jpg" class="d-block w-100 hero-wrap" >
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
      <span  class="carousel-control-prev-icon" aria-hidden="true"></span>
 
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>

    </button>
  </div>





  
  <!-- banner -->





  <section class="ftco-section ftco-no-pb">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4">
          <div class="sort w-100 text-center ftco-animate">
            <div
              class="img"
              style="background-image: url(images/households.webp)"
            ></div>
            <h3>House Holds</h3>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="sort w-100 text-center ftco-animate">
            <div
              class="img"
              style="background-image: url(images/vegitables.webp)"
            ></div>
            <h3>Vegitables</h3>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="sort w-100 text-center ftco-animate">
            <div
              class="img"
              style="background-image: url(images/fruits.jpeg)"
            ></div>
            <h3>Fruits</h3>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="sort w-100 text-center ftco-animate">
            <div
              class="img"
              style="background-image: url(images/beverages.jpg)"
            ></div>
            <h3>Beverages</h3>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="sort w-100 text-center ftco-animate">
              <div
                class="img"
                style="background-image: url(images/frozenfoods.webp)"
              ></div>
              <h3>Frozen Foods</h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-4">
            <div class="sort w-100 text-center ftco-animate">
              <div
                class="img"
                style="background-image: url(images/petfoods.jpg)"
              ></div>
              <h3>Pet Foods</h3>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <span class="subheading">Our Delightful offerings</span>
          <h2>Product Yours</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 d-flex">
          <div class="product ftco-animate">
            <div
              class="img d-flex align-items-center justify-content-center"
              style="background-image: url(images/prod1.jpg)"
            >
              <div class="desc">
                <p class="meta-prod d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-shopping-bag"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-heart"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-visibility"></span
                  ></a>
                </p>
              </div>
            </div>
            <div class="text text-center">
              <span class="sale">Sale</span>
              <span class="category">Households</span>
              <h2>Dishwash gel, lemon (1.5 ltr)</h2>
              <p class="mb-0">
                <span class="price price-sale">$69.00</span>
                <span class="price">$49.00</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="product ftco-animate">
            <div
              class="img d-flex align-items-center justify-content-center"
              style="background-image: url(images/prod2.jpg)"
            >
              <div class="desc">
                <p class="meta-prod d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-shopping-bag"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-heart"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-visibility"></span
                  ></a>
                </p>
              </div>
            </div>
            <div class="text text-center">
              <span class="seller">Best Seller</span>
              <span class="category">Vegitables</span>
              <h2>Cauliflower(1 kg)</h2>
              <span class="price">$69.00</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="product ftco-animate">
            <div
              class="img d-flex align-items-center justify-content-center"
              style="background-image: url(images/prod3.jpg)"
            >
              <div class="desc">
                <p class="meta-prod d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-shopping-bag"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-heart"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-visibility"></span
                  ></a>
                </p>
              </div>
            </div>
            <div class="text text-center">
              <span class="new">New Arrival</span>
              <span class="category">Fruits</span>
              <h2>Banana(1 kg)</h2>
              <span class="price">$69.00</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="product ftco-animate">
            <div
              class="img d-flex align-items-center justify-content-center"
              style="background-image: url(images/prod4.jpg)"
            >
              <div class="desc">
                <p class="meta-prod d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-shopping-bag"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-heart"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-visibility"></span
                  ></a>
                </p>
              </div>
            </div>
            <div class="text text-center">
              <span class="category">Beverages</span>
              <h2>Orange soft drink (750 ml)</h2>
              <span class="price">$69.00</span>
            </div>
          </div>
        </div>

        <div class="col-md-3 d-flex">
          <div class="product ftco-animate">
            <div
              class="img d-flex align-items-center justify-content-center"
              style="background-image: url(images/prod5.jpg)"
            >
              <div class="desc">
                <p class="meta-prod d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-shopping-bag"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-heart"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-visibility"></span
                  ></a>
                </p>
              </div>
            </div>
            <div class="text text-center">
              <span class="category">Frozenfoods</span>
              <h2>Pepper salami (250 gm)</h2>
              <span class="price">$69.00</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="product ftco-animate">
            <div
              class="img d-flex align-items-center justify-content-center"
              style="background-image: url(images/prod6.jpg)"
            >
              <div class="desc">
                <p class="meta-prod d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-shopping-bag"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-heart"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-visibility"></span
                  ></a>
                </p>
              </div>
            </div>
            <div class="text text-center">
              <span class="category">Petfoods</span>
              <h2>Gravy food for dogs (20 kg)</h2>
              <span class="price">$69.00</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="product ftco-animate">
            <div
              class="img d-flex align-items-center justify-content-center"
              style="background-image: url(images/prod7.jpg)"
            >
              <div class="desc">
                <p class="meta-prod d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-shopping-bag"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-heart"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-visibility"></span
                  ></a>
                </p>
              </div>
            </div>
            <div class="text text-center">
              <span class="category">Vegitables</span>
              <h2>White onion</h2>
              <span class="price">$69.00</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="product ftco-animate">
            <div
              class="img d-flex align-items-center justify-content-center"
              style="background-image: url(images/prod8.jpg)"
            >
              <div class="desc">
                <p class="meta-prod d-flex">
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-shopping-bag"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-heart"></span
                  ></a>
                  <a
                    href="#"
                    class="d-flex align-items-center justify-content-center"
                    ><span class="flaticon-visibility"></span
                  ></a>
                </p>
              </div>
            </div>
            <div class="text text-center">
              <span class="category">Fruits</span>
              <h2>Strwberry</h2>
              <span class="price">$69.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('./layout/footer'); -%>
</body>
