<%- include('./layout/main'); -%> <%- include('./layout/header'); -%>

<div class="login-area">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="register-form">
          <div class="section-title">
            <h2>Registration</h2>
          </div>
          <div class="card">
            <div class="card-body">
              <form action="/signup" method="post">
                <% if (typeof(message) != 'undefined' && message ) { %>
                    <p class="errorMessages"><%= message %></p>
                  <% } %>
                <div id="errorFullname"></div>
                <div class="form">
                  <input
                    type="text"
                    class="form-control"
                    name="fullname"
                    placeholder="Fullname*"
                    id="username"                
                  />
                </div>
                <div class="form">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Phone*"
                    name="phone"
                  />
                </div>
                <div id="errorEmail"></div>
                <div class="form">
                  <input
                    type="text"
                    class="form-control"
                    name="email"
                    placeholder="Email address*"
                    id="userEmail"
                  />
                </div>
                <div id="errorPassword"></div>
                <div class="form">
                  <div class="password-input">
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder="Password*"
                      id="userPassword"
                    />
                    <span class="show-password-input"></span>
                  </div>
                </div>
                <div id="errorConformpassword"></div>
                <div class="form">
                  <div class="password-input">
                    <input
                      type="password"
                      class="form-control"
                      name="conformpassword"
                      placeholder="Conform Password*"
                      id="confirmpassword"
                    />
                    <span class="show-password-input"></span>
                  </div>
                </div>
                
                <div class="form">
                  <button id="btn-submit" type="submit" class="btn">Get OTP</button>
                </div>
              </form>
              <p class="text-center text-muted mt-5 mb-0">Have already an account...? <a href="/userlogin"
                class="fw-bold text-body"><u>Login here</u></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script>    
    
        $("#btn-submit").click(function () {           
          $(".errorMessages").hide();
          var hasError = false;
          var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
          var emailaddressVal = $("#userEmail").val();
          var PasswordVal = $("#userPassword").val();
          var usernameVal = $("#username").val();
          var confirmpasswordval = $("#confirmpassword").val();

          if (emailaddressVal == "") {
            $("#errorEmail").after(
              '<p class="errorMessages" >This is required. Please make email.</p>'
            );
            hasError = true;
          }
          if (usernameVal == "") {
            $("#errorFullname").after(
              '<p class="errorMessages">This is required. Please make choice</p>'
            );
            hasError = true;
          } else if (!emailReg.test(emailaddressVal)) {
            $("#errorEmail").after(
              '<p class="errorMessages">Enter a valid email address.</p>'
            );
            hasError = true;
          }
          if (PasswordVal == "") {
            $("#errorPassword").after(
              '<p class="errorMessages">This is required. Please make choice</p>'
            );
            hasError = true;
          }
          if (confirmpasswordval !== PasswordVal) {
            $("#errorConformpassword").after(
              '<p class="errorMessages">confirm password wrong.</p>'
            );
            hasError = true;
          }
          if (hasError == true) {
            return false;
          }
        });
    </script>
    <style>
      .errorMessages{
        color: red;
        font-size: small;
        font-family: 'Poppins';
      }
    </style>





<%- include('./layout/footer'); -%>
