<%- include('./layout/main'); -%> <%- include('./layout/header'); -%>

<div class="login-area">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="login-form">
          <div class="section-title">
            <h2>Login</h2>
          </div>
          <div class="card">
            <div class="card-body">
              <form action="/login" method="post">
                <% if (typeof(message) != 'undefined' && message ) { %>
                    <p class="errorMessages"><%= message %></p>
                    <% } %>
                <div id="errorEmail"></div>
                <div class="form">
                  <input
                  class="form-control"
                    type="text"
                    name="email"
                    placeholder="Email address*"
                    id="userEmail"
                  />
                </div>
                <div id="errorPassword"></div>
                <div class="form">
                  <div class="password-input">
                    <input
                    class="form-control"
                    type="password"
                    name="password"
                    placeholder="Password*"
                    id="userPassword"
                    />
                    <span class="show-password-input"></span>
                  </div>
                </div>
                
                <div class="form">
                  <button id="btn-submit" type="submit" class="btn">Login</button>
                </div>   
              </form>
              <a class="forgot-password" href="/forgotPassword">Lost your password?</a>
              <p class="text-center text-muted mt-5 mb-0">
                Create an account...?
                <a href="/usersignup" class="fw-bold text-body"
                  ><u>Signup here</u></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>
    $("#btn-submit").click(function () {
      $(".errorMessages").hide();
      var hasError = false;
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      var emailaddressVal = $("#userEmail").val();
      var PasswordVal = $("#userPassword").val();
      if (emailaddressVal == "") {
        $("#errorEmail").after(
          '<p class="errorMessages" >Please enter your email address.</p>'
        );
        hasError = true;
      } else if (!emailReg.test(emailaddressVal)) {
        $("#errorEmail").after(
          '<p class="errorMessages">Enter a valid email address.</p>'
        );
        hasError = true;
      }
      if (PasswordVal == "") {
        $("#errorPassword").after(
          '<p class="errorMessages">Please enter your password.</p>'
        );
        hasError = true;
      }
      if (hasError == true) {
        return false;
      }
    });
  </script>
  <style>
    .errorMessages {
      color: red;
      font-size: small;
      font-family: "Poppins";
    }
  </style>

<%- include('./layout/footer'); -%>


