

<div id="weiboo-load">
    <div class="preloader-new">
        <svg class="cart_preloader" role="img" aria-label="Shopping cart_preloader line animation"
            viewBox="0 0 128 128" width="128px" height="128px" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
                <g class="cart__track" stroke="hsla(0,10%,10%,0.1)">
                    <polyline points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" />
                    <circle cx="43" cy="111" r="13" />
                    <circle cx="102" cy="111" r="13" />
                </g>
                <g class="cart__lines" stroke="currentColor">
                    <polyline class="cart__top" points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80"
                        stroke-dasharray="338 338" stroke-dashoffset="-338" />
                    <g class="cart__wheel1" transform="rotate(-90,43,111)">
                        <circle class="cart__wheel-stroke" cx="43" cy="111" r="13" stroke-dasharray="81.68 81.68"
                            stroke-dashoffset="81.68" />
                    </g>
                    <g class="cart__wheel2" transform="rotate(90,102,111)">
                        <circle class="cart__wheel-stroke" cx="102" cy="111" r="13" stroke-dasharray="81.68 81.68"
                            stroke-dashoffset="81.68" />
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>
<!--================= Preloader End Here =================-->




<!--================= Header Section Start Here =================-->
<header id="rtsHeader">
    <div class="header-topbar header-topbar1">
        <div class="container">
            <div class="header-top-area">
                <div class="slider-div">
                    <div class="swiper rts-topSlide1">
                        <div class="swiper-wrapper">
                            
                            <div class="swiper-slide">
                                <h3 class="welcome-text"> Welcome To BigMart</h3>
                            </div>






                            <% if (typeof(user) == "undefined" || !user ) { %>
                                <div class="swiper-slide">
                                    <h3 class="welcome-text">Please Login Your Account</h3>
                                </div>
    
                                
                                <% } else { %>

                                    <div class="swiper-slide">
                                        <h3 class="welcome-text">Hai  <%= user.fullname %></h3>
                                    </div>
                                    
            
                                <% } %> 















                            


                            
                        </div>
                        <div class="slider-navigation2">
                            <div class="swiper-button-prev slider-btn prev"><i
                                    class="rt rt-arrow-left-long"></i></div>
                            <div class="swiper-button-next slider-btn next"><i
                                    class="rt rt-arrow-right-long"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-topbar-menu-area">
        <div class="container">
            <div class="menu-area1">
                <div class="menu-item">
                   
                </div>
                <div class="menu-area-right-side">
                    <div class="contact">
                            
                        <% if (typeof(user) == "undefined" || !user ) { %>
                            <strong>
                                <a href="/userlogin">Login</a>
                                </strong>
                                &nbsp
                                <strong>
                                <a href="/usersignup">Sign Up</a>
                                </strong>
                            
                            <% } else { %>
                                
                                <div class="reg">
                                    <p class="mb-0"><a href="#" class="mr-2"><a href="/logout">Log Out</a></p>
                                </div>
        
                            <% } %> 
                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="navbar-sticky">
        <div class="container">
            <div class="navbar-part navbar-part1">
                <div class="navbar-inner">
                    <div class="left-side">
                        <div class="hamburger-1">
                            <a href="#" class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>
                        <a href="/" class="logo"><img src="assets/images/bigmart-logo.png" alt="weiboo-logo"></a>

                        <!-- Search -->

                        <div class="search-part mobile-search">
                            <div class="search-icon action-item icon"><i class="fa fa-search"></i></div>
                            <div class="search-input-area">
                                <div class="container">
                                    <div class="search-input-inner">
                                        <div class="input-div">
                                            <input id="searchInpuTmoble" class="search-input" type="text" onkeyup="searchProMoble()"
                                                placeholder="Search">
                                                <ul id="suggestionsMobile" class="text-center" style="display: table; margin: 0 auto;">

                                                </ul>
                                        </div>
                                        <div class="search-close-icon"><i class="rt-xmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Search -->
                    </div>
                    <div class="rts-menu">
                        <nav class="menus menu-toggle">
                            <ul class="nav__menu">
                                <li class="has-dropdown"><a class="menu-item active1" href="/">Home <i
                                            class="rt-plus"></i></a>
                                    
                                </li>



                                <li class="has-dropdown"><a class="menu-item" href="/shopPage">Shop <i
                                            class="rt-plus"></i></a>
                                    
                                </li>
                                




                                <% if (typeof(user) == "undefined" || !user ) { %>
                                    <li></li>
        
                                    
                                    <% } else { %>
    
                                        <li class="has-dropdown"><a class="menu-item" href="/account">My Account 
                                            <i class="rt-plus"></i></a>
                                        </li>
                    
                                    <% } %> 

                               
                                
                            </ul>
                        </nav>
                    </div>
                    <div class="responsive-hamburger">
                        <div class="hamburger-1">
                            <a href="#" class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>
                    </div>
                    <div class="header-action-items header-action-items1">





<!-- Search -->

                        <div class="search-part">
                            <div class="search-icon action-item icon"><i class="fa fa-search"></i></div>
                            <div class="search-input-area">
                                <div class="container">
                                    <div class="search-input-inner">
                                        <div class="input-div">
                                            <input id="searchInpuT" class="search-input" type="text" onkeyup="searchPro()"
                                                placeholder="Search">
                                                <ul id="suggestions" class="text-center" style="display: table; margin: 0 auto;">

                                                </ul>
                                        </div>
                                        <div class="search-close-icon"><i class="rt-xmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- Search -->




                        <div class="cart action-item">
                            <div class="cart-nav">
                                <div class="cart-icon icon">
                            <a onclick="getWishlist()" class="account"><i class="far fa-heart"></i></a>
                            




                            <% if (typeof(user) == "undefined" || !user ) { %>
                                <span class="wishlist-dot icon-dot">0</span>
    
                                
                                <% } else { %>

                                    <span class="wishlist-dot icon-dot"><%= user.wishlist.length %></span>
                                    
            
                                <% } %> 

                            
                        


                        </div>
                            </div>
                        </div>
           
                        <div class="cart action-item">
                            <div class="cart-nav">
                                <div class="cart-icon icon"><a onclick="getCartlist()"><i aria-hidden="true"
                                            class="fas fa-shopping-basket"></i> </a>
                                            
                                            
                                            
                                            <% if (typeof(user) == "undefined" || !user ) { %>
                                                    
                                                  <span class="wishlist-dot icon-dot">0</span>
                                                                                
                                           <% } else { %>
                                                    
                                                 <% if (cartDetails==null) { %>
                                                    <span class="wishlist-dot icon-dot">0</span>
                                                  
                                                 <% } else { %>
                                        
                                                     <span id="cartIncre" class="wishlist-dot icon-dot"><%= cartDetails.products.length %></span>

                                                     <% } %>                        
                                            <% } %> 
                                        
                                       


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
    <aside class="slide-bar">
        <div class="offset-sidebar">
            <a class="hamburger-1 mobile-hamburger-1 ml--30" href="#"><span><i class="rt-xmark"></i></span></a>
        </div>
        <!-- offset-sidebar start -->
        <div class="offset-sidebar-main">
            <div class="offset-widget mb-40">
                <div class="info-widget">
                    <img src="assets/images/bigmart-logo.png" alt="weiboo-logo">
                    <p class="mb-30">
                        We must explain to you how all seds this mistakens idea denouncing pleasures and praising account.
                    </p>
                </div>
                <div class="info-widget info-widget2">
                    <h4 class="offset-title mb-20">Get In Touch </h4>
                    <ul>
                        <li class="info phone"><a href="tel:9567480784">9567480784</a></li>
                        <li class="info email"><a href="email:anaghbhasker@.com">anaghbhasker@gmail.com</a></li>
                        <li class="info web"><a>www.bigmarts.shop</a></li>
                        <li class="info location">13/A, New Pro Kerala, NYC</li>
                    </ul>
                    <div class="offset-social-link">
                        <h4 class="offset-title mb-20">Follow Us </h4>
                        <ul class="social-icon">
                            <li><a href="https://m.facebook.com/100005750050396/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/anagh.bhasker/"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://m.youtube.com/@anaghbhasker571/featured"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/anagh-bhasker-9a9643231"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://www.snapchat.com/add/anagh_bhasker?share_id=FUceqWwYOiM&locale=en-IN"><i class="fab fa-snapchat"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- offset-sidebar end -->
        <!-- side-mobile-menu start -->
        <nav class="side-mobile-menu side-mobile-menu1">
            <ul id="mobile-menu-active">





                <li class="">
                    <a href="/" class="mm-link">Home <i class="rt-angle-down"></i></a>
                </li>



                <li class="">
                    <a class="mm-link" href="/shopPage">Shop <i class="rt-angle-down"></i></a>
                </li>
                


                <% if (typeof(user) == "undefined" || !user ) { %>


                    <li class="has-dropdown firstlvl">
                        <a class="mm-link">Account <i class="rt-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="/userlogin">Login</a></li>
                            <li><a href="/usersignup">Sign Up</a></li>  
                        </ul>
                    </li>



                <% } else { %>


                    <li class="has-dropdown firstlvl">
                        <a class="mm-link" href="#">Pages <i class="rt-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="/cartlist">Cart</a></li>
                            <li><a href="/wishlist">Wishlist</a></li>
                        </ul>
                    </li>

                    <li class="">
                        <a class="mm-link" href="/account">My Account <i class="rt-angle-down"></i></a>
                    </li>

                    <li><a class="mm-link" href="#">Contact</a></li>



                <% } %> 

            </ul>
        </nav>


        
        
        <!-- side-mobile-menu end -->
    </aside>
    </header>




    <style>
        @media (min-width: 500px) {
  .navbar-part1 .mobile-search {
    display: none;
  }
}

.mobile-search .action-item{
    padding-left: 130px;
}
    </style>




    <script>



 function searchPro() {
    var inputSearch=document.getElementById('searchInpuT').value
    if (inputSearch == "" || inputSearch == null) {
        $("#suggestions").empty();
        
        return;
    }
    $.ajax({
        url:`/searchProduct`,
        method:'post',
        data:{
            inputSearch
        },
        success:(response)=>{
            if (response.status==='success') {
                $("#suggestions").empty();
                
                for (var i = 0; i < response.result.length; i++) {

                    var name = response.result[i].name;

                    n = 33;
                    var shortName;
                    if (name.length > n) {
                        shortName = name.substring(0,n);
                        shortName += "...";
                    }else{
                        shortName = name;
                    }
                    
                    
                     html = `
                                             
                     <li class="d-flex justify-content-between" style="border-bottom: 1px solid #e7e7e7;">
                        <a href="/productDetail?id=${response.result[i]._id}">
                                        <img class="img-fluid  rounded-pill" style="width:75px;" src="data:${response.result[i].product_image[0].contentType};base64,${response.result[i].product_image[0].imageBase64}"
                                                alt="Post Img"></a>
                                                <a href="/productDetail?id=${response.result[i]._id}">
                                            <p class="font-weight-light" title="${name}">${shortName}</p>
                                            </a>
                        </a> 
                     </li>
                     



                     
                     `;
                     $("#suggestions").append(html);
                    
        }
            } else {
                console.log("illa");
            }
        }
    })
 }





 function searchProMoble() {
    var inputSearch=document.getElementById('searchInpuTmoble').value
    if (inputSearch == "" || inputSearch == null) {
        $("#suggestionsMobile").empty();
        
        return;
    }
    $.ajax({
        url:`/searchProduct`,
        method:'post',
        data:{
            inputSearch
        },
        success:(response)=>{
            if (response.status==='success') {
                $("#suggestionsMobile").empty();
                
                for (var i = 0; i < response.result.length; i++) {

                    var name = response.result[i].name;

                    n = 33;
                    var shortName;
                    if (name.length > n) {
                        shortName = name.substring(0,n);
                        shortName += "...";
                    }else{
                        shortName = name;
                    }
                    
                    
                     html = `
                                             
                     <li class="d-flex justify-content-between" style="border-bottom: 1px solid #e7e7e7;">
                        <a href="/productDetail?id=${response.result[i]._id}">
                                        <img class="img-fluid  rounded-pill" style="width:75px;" src="data:${response.result[i].product_image[0].contentType};base64,${response.result[i].product_image[0].imageBase64}"
                                                alt="Post Img"></a>
                                                <a href="/productDetail?id=${response.result[i]._id}">
                                            <p class="font-weight-light" title="${name}">${shortName}</p>
                                            </a>
                        </a> 
                     </li>
                     



                     
                     `;
                     $("#suggestionsMobile").append(html);
                    
        }
            } else {
                console.log("illa");
            }
        }
    })
 }












function getCartlist() {
    
    $.ajax({
        url:`/cartlist`,
        method:"get",
        success:(response)=>{
            if (response.status==='success') {
              event.preventDefault()
              Swal.fire(
                     'BigMart',
                     'Please Login Your account',
                     'question'
              )
            }
            else{
    
              location.href="/cartlist"
            }
        }
    })
}


function getWishlist() {
    $.ajax({
      url: `/wishlist`,
          method: "get",
          success: (response)=>{
            if (response.status==='success') {
              event.preventDefault()
              Swal.fire(
                     'BigMart',
                     'Please Login Your account',
                     'question'
              )
            }
            else{
    
              location.href="/wishlist"
            }
          }
    })
}

    
    </script>