





<% if (typeof(user) == "undefined" || !user ) { %>
    <div class="anywere anywere-home"></div>

    <!--================= Newsletter Popup Start Here =================-->
    <div class="rts-newsletter-popup">
        <div class="newsletter-close-btn"><i class="fal fa-times"></i></div>
        <div class="newsletter-inner">
            <h3 class="newsletter-heading">Oops!!</h3>
            <p>You are not logged in,,
                Please Login your account</p>
            <form action="/login" method="post"> 
                <div class="input-area">
                    <% if (typeof(message) != 'undefined' && message ) { %>
                        <p class="errorMessages"><%= message %></p>
                        <% } %>
                    <div id="errorEmail"></div>
                    <div class="input-div"><input type="email" placeholder="Your email" name="email" id="userEmail">
                        <div class="input-icon"><i class="far fa-user"></i></div>
                    </div>
                    <div id="errorPassword"></div>
                    <div class="input-div"><input type="password" placeholder="Your Password" name="password" id="userPassword">
                        <div class="input-icon"><i class="far fa-envelope"></i></div>
                    </div>
                </div>
                <button id="btn-submit" type="submit" class="subscribe-btn">Login Now <i
                        class="fal fa-long-arrow-right ml--5"></i></button>
            </form>
        </div>
    </div>
    <!--================= Newsletter Popup End Here =================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>
    $("#btn-submit").click(function () {
      $(".errorMessages").hide();
      var hasError = false;
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      var emailaddressVal = $("#userEmail").val();
      var PasswordVal = $("#userPassword").val();
      if (emailaddressVal == "") {
        $("#errorEmail").after(
          '<p class="errorMessages" >Please enter your email address.</p>'
        );
        hasError = true;
      } else if (!emailReg.test(emailaddressVal)) {
        $("#errorEmail").after(
          '<p class="errorMessages">Enter a valid email address.</p>'
        );
        hasError = true;
      }
      if (PasswordVal == "") {
        $("#errorPassword").after(
          '<p class="errorMessages">Please enter your password.</p>'
        );
        hasError = true;
      }
      if (hasError == true) {
        return false;
      }
    });
  </script>
  <style>
    .errorMessages {
      color: red;
      font-size: small;
      font-family: "Poppins";
    }
  </style>
<% } %>














    